<div id="edit-article-children">
  <h2>You might also like...</h2>
  <ul id="child-links" >
    <%= render @article.child_links if @child_links %>
    <li id="droppable-li">
      <%= image_tag "placeholder.png", class: "this_is_droppable", id: @article.id, size: "80x80" %>
    </li>
  </ul>
</div>