<div id="edit-article-children">
  <h2>You might also like...</h2>
  <% if @child_links %>
    <% @child_links.each do |child_link| %>
      <%= image_tag "delete.png", class: "delete-child_link", id: child_link.id %>
      <%= link_to (image_tag Article.find(child_link.child_id).image, size: "80x80"), Article.find(child_link.child_id) %>
    <%end%>
  <%end%>
  <%= image_tag "placeholder.png", class: "this_is_droppable", id: @article.id, size: "80x80" %>
</div>
  <%= render 'all_articles' %>
</div>