// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  margin: 5px;
}
.delete-child-link, .delete-child-link:hover {
  position: absolute;
  margin: -10px 0 0 65px;
  background-color: transparent;
}
#child-links li {
  display: inline-block;
}
